<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>管理者查看课程界面</title>
  <script src="../js/vue.js"></script>
  <script src="../js/global.js"></script>
  <link rel="stylesheet" href="../asset/css/front.css">
</head>
<body>
<div id="app" class="Home">
  <div class="header">

    <a href="#" class="ICON">
      <img src="../asset/img/ICON.png" alt="学生管理系统" style="position:absolute;bottom:22px">
      <strong style="position:absolute;left:60px;bottom:20px">学生管理系统</strong>
    </a>

    <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">后台 > 课程管理</h2>

    <button><strong>退出登录</strong></button>

  </div>

  <div class="left">
    <a href="ManagerHome.html"><strong>查看修改个人信息</strong></a>
    <a href="ManagerSelectAllStudents.html"><strong>查看所有学生信息</strong></a>   <!-- 其中可以修改学生信息，还可以根据学生查询
           某个学生选择的课程-->
    <a href="#" style="border-right: darkcyan solid 5px"><strong>查看所有课程信息</strong></a>  <!-- 其中可以增删课程，还可以根据课程查询
            选择某个课程的学生-->

  </div>
  <div class="right">


    <div class="LeftList" style="display: inline-block;width:70%;height: 100%">
      <table>
        <thead style="display:block;width:100%;height: 10%">
        <tr style="background-color: cadetblue">
          <td><strong>ID</strong></td>
          <td><strong>课程名</strong></td>
          <td><strong>课程开课状态</strong></td>
        </tr>
        </thead>
        <tbody>
        <tr v-show="!CoursesTable" class="NONE">
          <td color="black"><strong>无数据!</strong></td>
        </tr>
        <tr v-for="course in CoursesTable" :key="course.id" @click="FocusOnSomeBody(course)">
          <td>{{ course?.id||'无ID' }}</td>
          <td>{{ course?.name||'无名课程' }}</td>
          <td>{{ course?.status||'未知状态' }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="RightList">
      <table>
        <thead style="display:block;width:100%;height: 10%">
        <tr style="background-color: cadetblue">
          <td><strong>{{ FocusingCourse ? FocusingCourse+"课程的学生列表:" : '尚未选择学生...' }}</strong></td>
        </tr>
        </thead>
        <tbody>
        <tr v-show="!StudentOfCourseTable" class="NONE">
          <td color="black"><strong>{{ FocusingCourse ? "没有学生" : '无学生数据！' }}</strong></td>
        </tr>
        <tr v-for="course in StudentOfCourseTable" :key="course.id">
          <td>{{ course?.studentName||'未知学生' }}</td>
        </tr>
        </tbody>
      </table>
    </div>


  </div>

</div>

<script>
  new Vue({
    el: '#app',
    data: {
      command:"",
      CoursesTable:null,
      StudentOfCourseTable:null,
      FocusingCourse:null
    },
    mounted() {
      this.command="SelectAllCourses";
      this.load();
      this.command="";

      // this.CoursesTable=[
      //   {"id":2,"name":"maths","status":"是"},
      //   {"id":3,"name":"English","status":"否"},
      //   {"id":4,"name":"Chinese","status":"否"}
      // ];

    },
    methods:{
      FocusOnSomeBody(somebody){
        this.FocusingCourse=somebody.name;
        this.command="SelectCourseByStudent";
        let LoadHttp;
        if(window.XMLHttpRequest){
          LoadHttp=new XMLHttpRequest();

        }else{
          LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
        }
        LoadHttp.open("POST","http://localhost:8080/QG20250325LoginAndRegister_war/Home/ManagerSelectAllCoursesServlet");
        LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
        let requestBody = "command=" + encodeURIComponent(this.command)
                +"&name=" + encodeURIComponent(somebody.name);
        LoadHttp.send(requestBody);
        LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
          if (event.target.readyState === 4 && event.target.status === 200) {
            let result = JSON.parse(event.target.responseText);
            if (result.code === "200") {
              this.StudentOfCourseTable = result.data; // 更新 StudentsTable
              if(this.StudentOfCourseTable.length === 0)
                this.StudentOfCourseTable=null;
            } else {
              alert("生成数据失败,请重新进入页面");
            }
          }
        }
        this.command="";
      },
        load(){
          if(this.command===""){
            alert("请进行有效的指令");
          }else{
            let LoadHttp;
            if(window.XMLHttpRequest){
              LoadHttp=new XMLHttpRequest();

            }else{
              LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
            }
            LoadHttp.open("POST","http://localhost:8080/QG20250325LoginAndRegister_war/Home/ManagerSelectAllCoursesServlet");
            LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
            let requestBody = "command=" + encodeURIComponent(this.command);
            LoadHttp.send(requestBody);

            LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例

              if (event.target.readyState === 4 && event.target.status === 200) {
                let result = JSON.parse(event.target.responseText);
                if(result.code==="200"){
                  this.CoursesTable=result.data;
                  console.log(this.CoursesTable);
                }else{
                  alert("生成数据失败,请重新进入页面");
                }
                }

            }

          }
        }

    },
  });
</script>
</body>
</html>